# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/

# Django
db.sqlite3
staticfiles/
media/

# env
.env
.env*.local

# misc
.DS_Store
Thumbs.db
*.pem

# IDE
.idea/
.vscode/

# legacy
node_modules/
.next/
